# mathcalc 编码规范
# 能遵守就遵守吧
# 反正只是给我用来格式化代码的
---
# 开发使用 C, 不使用 C++
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
IndentCaseLabels: true
UseTab: ForIndentation
TabWidth: 4
AllowShortFunctionsOnASingleLine: Empty
...
